# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ursrbmvgrpjhuogfimal.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_tPbGnhGMinGYFI5tc4KbvA_7Gu2Ketw
SUPABASE_SERVICE_KEY=sb_publishable_tPbGnhGMinGYFI5tc4KbvA_7Gu2Ketw

# Auth
JWT_SECRET=your_jwt_secret_here

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
